body {
  background-color: skyblue;
}

#calculator {
  border: solid 3px black;
  border-radius: 25px;
  width: 100%;
  margin: auto;
  padding: 10px;
}

#ui {
  width: 50%;
  margin: auto;
}

#info {
  width: 50%;
  margin: auto;
}

#info h1 {
  font-size: 40pt;
  font-family: fjalla one, helvetica;
  text-decoration: underline;
}

#info h4 {
  font-size: 20pt;
}

#info p {
  font-size: 14pt;
}

#gross-pay {
  font-weight: bold;
  margin-top: 15px;
  text-decoration: underline;
}

#error {
  width: 100%;
  color: red;
  display: none;
  text-align: center;
  margin-top: 10px;
}

.container {
  padding-bottom: 250px;
  margin-left: 100px;
  margin-right: 100px;
  margin: auto;
}

.calculated-gross {
  font-weight: bold;
  color: green;
}

@media screen and (max-width: 1100px) {
  #ui {
    width: 100%;
  }
}
